{% extends "base.html" %}

{% block the_body %}

<div class = "game">

    <h2>The computer has {{ n_computer }} cards</h2>

    <div class="imagesComp">
        {% for _ in range(n_computer) %}
            
            <img src="/static/cards/back.png" class = "cardImage">

        {% endfor %}
    </div>

    <br>

    <h2>Here are your cards</h2>

    <div id="imagesPlay">
        {% for card in cards %}
        <button hx-get="/select/{{ card[: card.find("_")] }}"
            hx-trigger="click"
            hx-target="#imagesPlay"
            hx-swap="outerHTML">
            <img src="/static/cards/{{ card }}" class="cardImage">
        +</button>
        {% endfor %}
    </div>    
</div>

{% endblock %}
